<!DOCTYPE html>
<html>
<head>
	<title>EJS INTRO</title>

    <link rel="stylesheet" type="text/css" href="/app.css">
    <!--temos de colocar / no href antes do arquivo pois caso o contrario o programa só vai buscar arquivos na pasta principal e views.-->
    
</head>

<body>